

html, body {
	padding: 0px;
	margin: 0px;
}

header li {
	display: inline;

}


header a {

	text-decoration: none !important;
	font-family: 'Indie Flower', cursive;
	padding: 10px 50px 0px;
	margin: 0px;
	float: left;
	background-color: #36454F;
	color: #f4f3f3;
	padding-bottom: 7px;
}

.logo {
	font-size: 16px;
	/*padding: 10px 50px 0px 25px;*/

}

ul {
	padding: 0px;
	margin: 0px;
}


header {
	width: 100%;
	background-color: #36454F;
	position: absolute;
}

body {
	background-image: url('../img/jar.jpg');
	background-repeat:no-repeat;
	background-size: cover;
}