* {
    box-sizing: border-box;
}

html, body {
	padding: 0px;
	margin: 0px;
}

header li {
	display: inline;

}

a.logo1 {
	text-decoration: none;
	border: 0;
	width : 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	background: url(../img/logo1.jpg) no-repeat 0 0;
	border: none;
	float: left;


}

a.banner {
	width: 11.33%;
	float: right;
	max-width: 150px;
	text-align: center;
	text-decoration: none !important;
	font-family: 'Indie Flower', cursive;
	padding: 0px 0px 0px;
	margin: 0px;
	color: dimgrey;
	padding-top: 20px;
	padding-bottom: 30px;

}

ul {
	padding: 0px;
	margin: 0px;
}


header {
	width: 100%;
	position: fixed;
}

.Intro {
	font-weight: 100;
	font-size: 26px;
    line-height: 40px;
	font-family: 'Rock Salt', cursive;
	display: block;
	float: left;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 170px;
}

h6 {
	font-weight: 100;
}


footer {
	position: absolute;
	bottom: 0;
	height: 150px;
	width: 100%;
	background-color: #1e1f20;
	vertical-align: baseline;
}
	
.navigation_bar a:hover {
	color: #ff0000;
}

footer #footer_left a {
	font-weight: 100;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	font-family: 'Indie Flower', cursive;
}

footer #footer_left {
	color: #54595b;
}

footer #footer_left p {
	position: absolute;
    left: 13%;
    font-size: 10px;
    text-align: left;
    margin: 0;
    top: 70px;
}

#contact_link {
	margin-left: 80px;
	
	
}

#logo_footer {
    padding-left: 43%;
    display: inline-block;
    margin-top: 15px;

}

#logo_pic {
	padding-top: 60px;
	background: url(../img/logo1.jpg) 0 0 no-repeat;
	position: relative;
	left: 33%;
}

#logo_footer p {
	color: #54595b;
	font-family: 'Indie Flower', cursive;
}

footer #social a {
	font-weight: 100;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	font-family: 'Indie Flower', cursive;
}

footer #social p {
	position: absolute;
    right: 13%;
    font-size: 10px;
    text-align: right;
    margin: 0;
    top: 70px;
}

#twitter {
	margin-right: 80px !important;
}