* {
    box-sizing: border-box;
}

html, body {
	padding: 0px;
	margin: 0px;
}

header li {
	display: inline;

}


a.logo1 {
	text-decoration: none;
	border: 0;
	width : 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	background: url(../img/logo1.jpg) no-repeat 0 0;
	border: none;
	float: left;


}

a.banner {
	width: 11.33%;
	float: right;
	max-width: 150px;
	text-align: center;
	text-decoration: none !important;
	font-family: 'Indie Flower', cursive;
	padding: 0px 0px 0px;
	margin: 0px;
	
	/*background-color: dimgrey;*/
	color: dimgrey;
	padding-top: 20px;
	padding-bottom: 30px;
	/*border-style: solid;
    border-width: 2px;*/
}

ul {
	padding: 0px;
	margin: 0px;
}




header {
	width: 100%;
	/*background-color: #36454F;*/
	position: fixed;
}

body {
	/*background-image: url('../img/jar.jpg');
	background-repeat:no-repeat;
	background-size: cover;*/
}